.container {
    width: 960px;
    margin: 20px auto;
    float:left;
}

#gif-form {
    margin: 120px;
    float: right;
}

.gif {
    margin: 5px;
}

.images {
    float:left;
    margin: 5px;
    padding: 5px;
}