.container {
    width: 960px;
    margin: 20px auto;
    float:left;
}


#gif-form {
    margin: 20px;
    float: right;
}


.gif {
    margin: 5px;
}

.images {
    float:left;
    margin: 5px;
    padding: 5px;
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
        text-align:center;
    }

    .images {
        float:left;
        margin: 5px;
        padding: 5px;
        width: 25%;
    }

    #gif-form {
        margin-top: 10% 0 0 0;
        float: none;
        text-align:center;
    }

}
